.link{
    color: white;
    font-weight: bold;
}

.navbar{
    background-color: #0d6efd;
    
}



.brand{
    color: white;
    font-weight: bold;
    /* border: 1px solid red; */
    box-shadow: 10px red;
}